<div class="header">
  <ul class="nav nav-pills pull-right">
    <li ><a href="#">Home</a></li>
    <li class="active"><a href="#/drum">Drum Machine</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">drum_machine</h3>
</div>

<div class="row">
  <h1>Hi, I'm the Drum Machine</h1>
  <div id="machine">
    <pad ng-repeat="pad in data.pads" sample="pad.sample" keys="pad.keys"></pad>
  </div>
</div>